@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  color: #4a4d52;
}
.blue {
  color: #0085cc !important;
}
.application-btn {
  background: #0085cc;
  color: #ffffff !important;
  padding: 0.52rem;
  transition: 0.3s ease;
  border: #0085cc 1px solid !important;
}

.application-btn:hover,
.application-btn:focus {
  background: #ffffff;
  color: #0085cc !important;
}

.bg-blue {
  background-color: #0085cc;
  font-family: "poppins", sans-serif;
  color: white;
}

.default-bg-blue {
  background-color: #0085cc !important;
}
.default-bg-gray {
  background: #f7f7f7 !important;
}

.sub-head {
  color: #7a7a7a !important;
}

.headingFont {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #333333;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.triangle-divider-white {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid white; /* Replace with your desired color */
  margin: 0 auto;
}

.poppins {
  font-family: "Poppins", serif;
}

.lora {
  font-family: "Lora", serif;
}
@media (min-width: 768px) {
  .btn-blue {
    font-size: 20px;
  }
  .btn-contact {
    font-size: 20px;
  }
}

.btn-contact:hover {
  background-color: #fd5e0f;
  color: white;
}

@font-face {
  font-display: swap;
}

.bb1 {
  border: 1px solid red;
}
.orange {
  color: #fd5e0f;
}
.bb2 {
  border: 1px solid blue;
}
.bb3 {
  border: 1px solid green;
}
.bb4 {
  border: 1px solid yellow;
}
