@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #4a4d52;
  --topbar-bg: #f7f7f7;
  --topbar-foreground: #0085cc;
}

@layer utilities {
  .application-btn {
    background: #0085cc;
    color: #ffffff !important;
    padding: 0.52rem;
    transition: 0.3s ease;
    border: #0085cc 1px solid !important;
  }

  .default-blue {
    color: #0085cc !important;
  }
  .default-bg-blue {
    background-color: #0085cc !important;
  }

  .default-gray {
    color: #4a4d52 !important;
  }

  .default-bg-gray {
    background: #f7f7f7 !important;
  }
  .sub-head {
    color: #7a7a7a !important;
  }

  .application-btn:hover,
  .application-btn:focus {
    background: #ffffff;
    color: #0085cc !important;
  }
  .user-select-none {
    user-select: none;
  }

  .head-loc-btn {
    background-color: #ffffff !important;
    color: #4a4d52 !important;
    padding: 0.75rem 4rem;
    transition: 0.3s ease;
  }

  .head-loc-active {
    color: #0085cc !important;
  }

  .loc-btn {
    background-color: #ffffff !important;
    color: #4a4d52 !important;
    padding: 0.75rem 4rem;
    transition: 0.3s ease;
  }
  .loc-btn:hover {
    background-color: #0085cc !important;
    color: #ffffff !important;
    padding: 0.75rem 4rem;
  }

  .loc-btn-active {
    background-color: #0085cc !important;
    color: #ffffff !important;
    padding: 0.75rem 4rem;
  }

  .btn {
    background-color: #0085cc !important;
    color: white;
    padding: 0.5rem 1.5rem !important;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #0097e9 !important;
    transition: 0.3s ease;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #4a4d52;
    --topbar-bg: #f7f7f7;
    --topbar-foreground: #0085cc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', system-ui, Arial, sans-serif;
}

header {
  background: var(--topbar-bg);
  color: var(--topbar-foreground);
  font-family: 'Roboto', system-ui, Arial, sans-serif;
}

hr {
  color: #33333348;
}
